In [405]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import datetime as dt
import ast

# Bangalore_cars

In [407]:
file_path = "E:/UDHAYA/Cardeko_project/Uncleaned_datasets/bangalore_cars.xlsx"  # file path
df_bangalore = pd.read_excel(file_path)

In [408]:
# top 5 values in the dataframe
df_bangalore.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [409]:
# size of dataframe
df_bangalore.shape

(1481, 5)

In [410]:
# drop unwanted column from dataframe
df_bangalore.drop(columns=["car_links"],inplace=True,axis=1)

# Extracting columns(data) from new_car_detail column in df_bangalore

In [412]:
# function to extract the columns(data) and convert the data into proper dataframe
from pandas import json_normalize

def normalize(df, column_name):
    # Convert the string to a dictionary using Abstract Syntax Trees (AST)
    df[f"{column_name}_dict"] = df[column_name].apply(ast.literal_eval)
    
    # Flatten the nested dictionary to a new DataFrame
    flat_df = json_normalize(df[f"{column_name}_dict"])
    return flat_df

In [413]:
new_car_detail_blr = normalize(df_bangalore, "new_car_detail")
new_car_detail_blr.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,3979,VXI,₹ 4 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,₹ 8.11 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,₹ 5.85 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,₹ 4.62 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,₹ 7.90 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

# Structuring new_car_overview column in df_bangalore

In [415]:
#normalizing the column using our normalize function
new_car_overview = normalize(df_bangalore,"new_car_overview")
new_car_overview

,heading,top,bottomData
0,Car overview,"[{'key': 'Registration Year', 'value': '2015',...",None
1,Car overview,"[{'key': 'Registration Year', 'value': 'Feb 20...",None
2,Car overview,"[{'key': 'Registration Year', 'value': 'Sept 2...",None
3,Car overview,"[{'key': 'Registration Year', 'value': 'Dec 20...",None
4,Car overview,"[{'key': 'Registration Year', 'value': '2015',...",None
...,...,...,...
1476,Car overview,"[{'key': 'Registration Year', 'value': 'May 20...",None
1477,Car overview,"[{'key': 'Registration Year', 'value': 'Jun 20...",None
1478,Car overview,"[{'key': 'Registration Year', 'value': 'Sept 2...",None
1479,Car overview,"[{'key': 'Registration Year', 'value': 'Dec 20...",None
1480,Car overview,"[{'key': 'Registration Year', 'value': 'May 20...",None

In [416]:
# Function to process the new_car_overview column
def process_car_overview(car_overview_df):
    # Drop the specified column
    car_overview_df.drop(columns=["bottomData"], inplace=True, axis=1)

    # Function to extract key-value pairs from a list of dictionaries
    def extract_key_value_dicts(details):
        if isinstance(details, list):
            return {df['key']: df['value'] for df in details}
        else:
            return {}

    # Apply the extraction function to the 'top' column
    new_car_overview = car_overview_df['top'].apply(extract_key_value_dicts)

    # Normalize the results into a new DataFrame
    normalized_df = pd.json_normalize(new_car_overview)

    return normalized_df

In [417]:
new_car_overview_blr = process_car_overview(new_car_overview)
new_car_overview_blr

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0
1,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0
2,Sept 2018,Comprehensive,Petrol,5 Seats,"11,949 Kms",KA03,First Owner,1199 cc,Manual,2018.0
3,Dec 2014,Comprehensive,Petrol,5 Seats,"17,794 Kms",KA53,First Owner,1197 cc,Manual,2014.0
4,2015,Third Party insurance,Diesel,5 Seats,"60,000 Kms",KA04,First Owner,1248 cc,Manual,2015.0
...,...,...,...,...,...,...,...,...,...,...
1476,May 2012,Comprehensive,Diesel,7 Seats,"1,56,039 Kms",KA01,Second Owner,2982 cc,Manual,2012.0
1477,Jun 2008,Third Party insurance,Petrol,5 Seats,"56,000 Kms",KA02,Second Owner,1586 cc,Manual,2008.0
1478,Sept 2014,Comprehensive,Petrol,5 Seats,"42,000 Kms",KA03,Second Owner,1198 cc,Manual,2014.0
1479,Dec 2018,Comprehensive,Diesel,5 Seats,"93,003 Kms",KA03,First Owner,1396 cc,Manual,2018.0
1480,May 2017,Comprehensive,Petrol,5 Seats,"36,000 Kms",KA04,Second Owner,1197 cc,Automatic,2017.0

# Structuring new_car_feature column in df_bangalore

In [419]:
# view new_car_feature
df_bangalore["new_car_feature"]

0       {'heading': 'Features', 'top': [{'value': 'Pow...
1       {'heading': 'Features', 'top': [{'value': 'Pow...
2       {'heading': 'Features', 'top': [{'value': 'Pow...
3       {'heading': 'Features', 'top': [{'value': 'Pow...
4       {'heading': 'Features', 'top': [{'value': 'Pow...
                              ...
1476    {'heading': 'Features', 'top': [{'value': 'Pow...
1477    {'heading': 'Features', 'top': [{'value': 'Pow...
1478    {'heading': 'Features', 'top': [{'value': 'Pow...
1479    {'heading': 'Features', 'top': [{'value': 'Pow...
1480    {'heading': 'Features', 'top': [{'value': 'Pow...
Name: new_car_feature, Length: 1481, dtype: object

In [420]:
new_car_feature = normalize(df_bangalore,"new_car_feature")
new_car_feature

,heading,top,data,commonIcon
0,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
2,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
3,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
4,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
...,...,...,...,...
1476,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1477,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1478,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1479,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1480,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg

In [421]:
def process_car_features(car_feature_df):
    # Drop the specified column
    car_feature_df.drop(columns=["commonIcon"], inplace=True, axis=1)

    # Function to extract key-value pairs from a list of dictionaries
    def extract_key_value_dicts1(details_1):
        if isinstance(details_1, list):
            return {i: df['value'] for i, df in enumerate(details_1) if 'value' in df}
        else:
            return {}

    # Apply the extraction function to the 'top' column
    new_car_feature_top = car_feature_df["top"].apply(extract_key_value_dicts1)

    # Normalize the results into a new DataFrame
    normalized_df = pd.json_normalize(new_car_feature_top)

    return normalized_df

In [422]:
new_car_feature_top = process_car_features(new_car_feature)
new_car_feature_top

,0,1,2,3,4,5,6,7,8
0,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Manually Adjustable Exterior Rear View Mirror,Centeral Locking,Child Safety Locks,NaN
1,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player
2,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player
3,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player
4,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Radio
...,...,...,...,...,...,...,...,...,...
1476,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Brake Assist,Cd Player
1477,Power Steering,Power Windows Front,Air Conditioner,Heater,Fog Lights Front,Fog Lights Rear,Anti Lock Braking System,Brake Assist,Cd Player
1478,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Power Adjustable Exterior Rear View Mirror,Centeral Locking,Power Door Locks,Radio
1479,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player
1480,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player

In [423]:
new_car_feature_data=pd.json_normalize(new_car_feature["data"])
def process_car_feature_data_by_index(new_car_feature_data, index, extract_func):
    
    # Flatten the nested dictionary for the specified index
    feature_data = pd.json_normalize(new_car_feature_data[index])

    # Apply the extraction function to the 'list' column if it exists
    if 'list' in feature_data.columns:
        extracted_data = feature_data["list"].apply(extract_func)
        normalized_df = pd.json_normalize(extracted_data)
        return normalized_df
    else:
        return pd.DataFrame()  # Return an empty DataFrame if 'list' is not present


new_car_feature_list_1 = process_car_feature_data_by_index(new_car_feature_data, 0, extract_key_value_dicts1)
new_car_feature_list_2 = process_car_feature_data_by_index(new_car_feature_data, 1, extract_key_value_dicts1)
new_car_feature_list_3 = process_car_feature_data_by_index(new_car_feature_data, 2, extract_key_value_dicts1)
new_car_feature_list_4 = process_car_feature_data_by_index(new_car_feature_data, 3, extract_key_value_dicts1)
new_car_feature_list_5 = process_car_feature_data_by_index(new_car_feature_data, 4, extract_key_value_dicts1)

In [424]:
print(new_car_feature_list_1)
print(new_car_feature_list_2)
print(new_car_feature_list_3)
print(new_car_feature_list_4)
print(new_car_feature_list_5)

                  0                    1                   2   \
0     Power Steering  Power Windows Front  Power Windows Rear
1     Power Steering  Power Windows Front  Power Windows Rear
2     Power Steering  Power Windows Front  Power Windows Rear
3     Power Steering  Power Windows Front  Power Windows Rear
4     Power Steering  Power Windows Front  Power Windows Rear
...              ...                  ...                 ...
1476  Power Steering  Power Windows Front  Power Windows Rear
1477  Power Steering  Power Windows Front  Power Windows Rear
1478  Power Steering  Power Windows Front  Power Windows Rear
1479  Power Steering  Power Windows Front  Power Windows Rear
1480  Power Steering  Power Windows Front  Power Windows Rear

                       3                       4                       5   \
0     Remote Trunk Opener  Remote Fuel Lid Opener  Low Fuel Warning Light
1     Remote Trunk Opener  Remote Fuel Lid Opener  Low Fuel Warning Light
2     Remote Trunk Opener  Remote Fuel Lid Opener  Low Fuel Warning Light
3     Remote Trunk Opener  Low Fuel Warning Light  Accessory Power Outlet
4     Air Quality Control     Remote Trunk Opener  Remote Fuel Lid Opener
...                   ...                     ...                     ...
1476  Air Quality Control     Remote Trunk Opener  Remote Fuel Lid Opener
1477  Remote Trunk Opener  Remote Fuel Lid Opener  Low Fuel Warning Light
1478  Remote Trunk Opener  Remote Fuel Lid Opener  Low Fuel Warning Light
1479  Air Quality Control     Remote Trunk Opener  Remote Fuel Lid Opener
1480  Remote Trunk Opener  Low Fuel Warning Light  Accessory Power Outlet

                          6                       7                   8   \
0     Accessory Power Outlet           Vanity Mirror  Rear Seat Headrest
1     Accessory Power Outlet             Trunk Light       Vanity Mirror
2     Accessory Power Outlet             Trunk Light       Vanity Mirror
3                Trunk Light           Vanity Mirror   Rear Reading Lamp
4     Low Fuel Warning Light  Accessory Power Outlet         Trunk Light
...                      ...                     ...                 ...
1476  Low Fuel Warning Light  Accessory Power Outlet         Trunk Light
1477  Accessory Power Outlet             Trunk Light       Vanity Mirror
1478  Accessory Power Outlet           Vanity Mirror  Rear Seat Headrest
1479  Low Fuel Warning Light  Accessory Power Outlet       Vanity Mirror
1480             Trunk Light           Vanity Mirror  Rear Seat Headrest

                      9   ...   25   26   27   28   29   30   31   32   33  \
0      Cup Holders Front  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1     Rear Seat Headrest  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2     Rear Seat Headrest  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3     Rear Seat Headrest  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4          Vanity Mirror  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...                  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1476       Vanity Mirror  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1477   Rear Reading Lamp  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1478   Cup Holders Front  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1479  Rear Seat Headrest  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1480   Cup Holders Front  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

       34
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
...   ...
1476  NaN
1477  NaN
1478  NaN
1479  NaN
1480  NaN

[1481 rows x 35 columns]
                   0       1                    2   \
0     Air Conditioner  Heater     Digital Odometer
1     Air Conditioner  Heater  Adjustable Steering
2     Air Conditioner  Heater  Adjustable Steering
3     Air Conditioner  Heater  Adjustable Steering
4     Air Conditioner  Heater  Adjustable Steering
...               ...     ...                  ...
1476  Air Conditioner  Heater  Adjustable Steering
1477  Air Conditioner  Heater  Adjustable Steering
1478  Air Conditioner  Heater     Digital Odometer
1479  Air Conditioner  Heater  Adjustable Steering
1480  Air Conditioner  Heater  Adjustable Steering

                              3                           4   \
0     Electronic Multi Tripmeter           Fabric Upholstery
1               Digital Odometer                  Tachometer
2               Digital Odometer                  Tachometer
3               Digital Odometer                  Tachometer
4               Digital Odometer                  Tachometer
...                          ...                         ...
1476            Digital Odometer                  Tachometer
1477            Digital Odometer                  Tachometer
1478                  Tachometer  Electronic Multi Tripmeter
1479            Digital Odometer                  Tachometer
1480            Digital Odometer                  Tachometer

                              5                  6                       7   \
0              Glove Compartment      Digital Clock                     NaN
1     Electronic Multi Tripmeter  Fabric Upholstery  Leather Steering Wheel
2     Electronic Multi Tripmeter  Fabric Upholstery       Glove Compartment
3     Electronic Multi Tripmeter  Fabric Upholstery       Glove Compartment
4     Electronic Multi Tripmeter  Fabric Upholstery       Glove Compartment
...                          ...                ...                     ...
1476  Electronic Multi Tripmeter      Leather Seats  Leather Steering Wheel
1477  Electronic Multi Tripmeter      Leather Seats       Fabric Upholstery
1478           Fabric Upholstery  Glove Compartment           Digital Clock
1479  Electronic Multi Tripmeter  Fabric Upholstery       Glove Compartment
1480  Electronic Multi Tripmeter  Fabric Upholstery  Leather Steering Wheel

                                  8                              9   \
0                                NaN                            NaN
1                  Glove Compartment                  Digital Clock
2                      Digital Clock    Outside Temperature Display
3                      Digital Clock  Height Adjustable Driver Seat
4                      Digital Clock    Outside Temperature Display
...                              ...                            ...
1476               Glove Compartment                  Digital Clock
1477               Glove Compartment                  Digital Clock
1478  Driving Experience Control Eco  Height Adjustable Driver Seat
1479                   Digital Clock  Height Adjustable Driver Seat
1480               Glove Compartment                  Digital Clock

                                  10                             11   12   13  \
0                                NaN                            NaN  NaN  NaN
1        Outside Temperature Display  Height Adjustable Driver Seat  NaN  NaN
2     Driving Experience Control Eco  Height Adjustable Driver Seat  NaN  NaN
3                                NaN                            NaN  NaN  NaN
4      Height Adjustable Driver Seat                            NaN  NaN  NaN
...                              ...                            ...  ...  ...
1476   Height Adjustable Driver Seat                            NaN  NaN  NaN
1477     Outside Temperature Display              Cigarette Lighter  NaN  NaN
1478                             NaN                            NaN  NaN  NaN
1479             Dual Tone Dashboard                            NaN  NaN  NaN
1480   Height Adjustable Driver Seat                            NaN  NaN  NaN

       14   15
0     NaN  NaN
1     NaN  NaN
2     NaN  NaN
3     NaN  NaN
4     NaN  NaN
...   ...  ...
1476  NaN  NaN
1477  NaN  NaN
1478  NaN  NaN
1479  NaN  NaN
1480  NaN  NaN

[1481 rows x 16 columns]
                          0                                              1   \
0     Adjustable Head Lights  Manually Adjustable Exterior Rear View Mirror
1     Adjustable Head Lights                               Fog Lights Front
2     Adjustable Head Lights                               Fog Lights Front
3     Adjustable Head Lights                               Fog Lights Front
4     Adjustable Head Lights                               Fog Lights Front
...                      ...                                            ...
1476  Adjustable Head Lights                               Fog Lights Front
1477        Fog Lights Front                                Fog Lights Rear
1478  Adjustable Head Lights     Power Adjustable Exterior Rear View Mirror
1479  Adjustable Head Lights                               Fog Lights Front
1480  Adjustable Head Lights                               Fog Lights Front

                                              2   \
0                                   Wheel Covers
1     Power Adjustable Exterior Rear View Mirror
2     Power Adjustable Exterior Rear View Mirror
3     Power Adjustable Exterior Rear View Mirror
4     Power Adjustable Exterior Rear View Mirror
...                                          ...
1476  Power Adjustable Exterior Rear View Mirror
1477  Power Adjustable Exterior Rear View Mirror
1478                        Rear Window Defogger
1479  Power Adjustable Exterior Rear View Mirror
1480  Power Adjustable Exterior Rear View Mirror

                                     3                     4   \
0                         Power Antenna         Chrome Grille
1     Electric Folding Rear View Mirror     Rear Window Wiper
2                     Rear Window Wiper    Rear Window Washer
3     Electric Folding Rear View Mirror  Rear Window Defogger
4     Electric Folding Rear View Mirror     Rear Window Wiper
...                                 ...                   ...
1476  Electric Folding Rear View Mirror     Rear Window Wiper
1477               Rear Window Defogger          Alloy Wheels
1478                       Wheel Covers         Power Antenna
1479  Electric Folding Rear View Mirror  Rear Window Defogger
1480  Electric Folding Rear View Mirror     Rear Window Wiper

                        5                     6   \
0                      NaN                   NaN
1       Rear Window Washer  Rear Window Defogger
2     Rear Window Defogger          Wheel Covers
3             Alloy Wheels         Power Antenna
4       Rear Window Washer  Rear Window Defogger
...                    ...                   ...
1476  Rear Window Defogger          Alloy Wheels
1477          Tinted Glass                   NaN
1478         Chrome Grille                   NaN
1479          Alloy Wheels    Integrated Antenna
1480    Rear Window Washer  Rear Window Defogger

                                            7   \
0                                          NaN
1                                 Alloy Wheels
2                                Power Antenna
3     Outside Rear View Mirror Turn Indicators
4                                 Alloy Wheels
...                                        ...
1476                        Integrated Antenna
1477                                       NaN
1478                                       NaN
1479                              Rear Spoiler
1480                              Alloy Wheels

                                            8   \
0                                          NaN
1                           Integrated Antenna
2                                 Tinted Glass
3                                Chrome Grille
4                                Power Antenna
...                                        ...
1476                              Side Stepper
1477                                       NaN
1478                                       NaN
1479  Outside Rear View Mirror Turn Indicators
1480                             Power Antenna

                                            9   ...   17   18   19   20   21  \
0                                          NaN  ...  NaN  NaN  NaN  NaN  NaN
1     Outside Rear View Mirror Turn Indicators  ...  NaN  NaN  NaN  NaN  NaN
2                                 Rear Spoiler  ...  NaN  NaN  NaN  NaN  NaN
3                               Chrome Garnish  ...  NaN  NaN  NaN  NaN  NaN
4                                 Tinted Glass  ...  NaN  NaN  NaN  NaN  NaN
...                                        ...  ...  ...  ...  ...  ...  ...
1476  Outside Rear View Mirror Turn Indicators  ...  NaN  NaN  NaN  NaN  NaN
1477                                       NaN  ...  NaN  NaN  NaN  NaN  NaN
1478                                       NaN  ...  NaN  NaN  NaN  NaN  NaN
1479                             Chrome Grille  ...  NaN  NaN  NaN  NaN  NaN
1480                              Tinted Glass  ...  NaN  NaN  NaN  NaN  NaN

       22   23   24   25   26
0     NaN  NaN  NaN  NaN  NaN
1     NaN  NaN  NaN  NaN  NaN
2     NaN  NaN  NaN  NaN  NaN
3     NaN  NaN  NaN  NaN  NaN
4     NaN  NaN  NaN  NaN  NaN
...   ...  ...  ...  ...  ...
1476  NaN  NaN  NaN  NaN  NaN
1477  NaN  NaN  NaN  NaN  NaN
1478  NaN  NaN  NaN  NaN  NaN
1479  NaN  NaN  NaN  NaN  NaN
1480  NaN  NaN  NaN  NaN  NaN

[1481 rows x 27 columns]
                            0                   1   \
0             Centeral Locking  Child Safety Locks
1     Anti Lock Braking System    Centeral Locking
2     Anti Lock Braking System    Centeral Locking
3     Anti Lock Braking System    Centeral Locking
4     Anti Lock Braking System    Centeral Locking
...                        ...                 ...
1476  Anti Lock Braking System        Brake Assist
1477  Anti Lock Braking System        Brake Assist
1478          Centeral Locking    Power Door Locks
1479  Anti Lock Braking System    Centeral Locking
1480  Anti Lock Braking System    Centeral Locking

                              2                                3   \
0     Day Night Rear View Mirror  Passenger Side Rear View Mirror
1               Power Door Locks               Child Safety Locks
2               Power Door Locks               Child Safety Locks
3               Power Door Locks               Child Safety Locks
4               Power Door Locks               Child Safety Locks
...                          ...                              ...
1476            Centeral Locking                 Power Door Locks
1477            Centeral Locking                 Power Door Locks
1478          Child Safety Locks       Day Night Rear View Mirror
1479            Power Door Locks               Child Safety Locks
1480            Power Door Locks               Child Safety Locks

                                   4                                5   \
0                   Halogen Headlamps                  Rear Seat Belts
1                      Driver Air Bag                Passenger Air Bag
2                      Driver Air Bag                Passenger Air Bag
3          Day Night Rear View Mirror  Passenger Side Rear View Mirror
4                      Driver Air Bag                Passenger Air Bag
...                               ...                              ...
1476               Child Safety Locks                 Anti Theft Alarm
1477               Child Safety Locks                   Driver Air Bag
1478  Passenger Side Rear View Mirror                Halogen Headlamps
1479                 Anti Theft Alarm                   Driver Air Bag
1480                   Driver Air Bag                Passenger Air Bag

                                   6                                7   \
0                   Door Ajar Warning                Side Impact Beams
1     Passenger Side Rear View Mirror                Halogen Headlamps
2     Passenger Side Rear View Mirror                Halogen Headlamps
3                   Halogen Headlamps                  Rear Seat Belts
4     Passenger Side Rear View Mirror                Halogen Headlamps
...                               ...                              ...
1476                   Driver Air Bag                Passenger Air Bag
1477                Passenger Air Bag       Day Night Rear View Mirror
1478                  Rear Seat Belts                Seat Belt Warning
1479                Passenger Air Bag  Passenger Side Rear View Mirror
1480       Day Night Rear View Mirror  Passenger Side Rear View Mirror

                                   8                                9   ...  \
0                  Front Impact Beams                 Adjustable Seats  ...
1                     Rear Seat Belts                Seat Belt Warning  ...
2                     Rear Seat Belts                Seat Belt Warning  ...
3                   Seat Belt Warning                Door Ajar Warning  ...
4                     Rear Seat Belts                Seat Belt Warning  ...
...                               ...                              ...  ...
1476       Day Night Rear View Mirror  Passenger Side Rear View Mirror  ...
1477  Passenger Side Rear View Mirror                Halogen Headlamps  ...
1478                Door Ajar Warning                Side Impact Beams  ...
1479                Halogen Headlamps                  Rear Seat Belts  ...
1480                Halogen Headlamps                  Rear Seat Belts  ...

       35   36   37   38   39   40   41   42   43   44
0     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1476  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1477  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1478  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1479  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1480  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[1481 rows x 45 columns]
             0                            1                            2   \
0           NaN                          NaN                          NaN
1     Cd Player                        Radio               Speakers Front
2     Cd Player                        Radio               Speakers Front
3     Cd Player                        Radio               Speakers Front
4         Radio  Audio System Remote Control               Speakers Front
...         ...                          ...                          ...
1476  Cd Player                   Dvd Player                        Radio
1477  Cd Player                        Radio  Audio System Remote Control
1478      Radio               Speakers Front                Speakers Rear
1479  Cd Player                        Radio               Speakers Front
1480  Cd Player                        Radio               Speakers Front

                               3                     4                    5   \
0                             NaN                   NaN                  NaN
1                   Speakers Rear  Integrated2Din Audio  Usb Auxiliary Input
2                   Speakers Rear  Integrated2Din Audio  Usb Auxiliary Input
3                   Speakers Rear  Integrated2Din Audio  Usb Auxiliary Input
4                   Speakers Rear  Integrated2Din Audio  Usb Auxiliary Input
...                           ...                   ...                  ...
1476  Audio System Remote Control        Speakers Front        Speakers Rear
1477               Speakers Front         Speakers Rear                  NaN
1478         Integrated2Din Audio   Usb Auxiliary Input                  NaN
1479                Speakers Rear  Integrated2Din Audio  Usb Auxiliary Input
1480                Speakers Rear  Integrated2Din Audio  Usb Auxiliary Input

                        6                    7                  8   \
0                      NaN                  NaN                NaN
1                Bluetooth         Touch Screen  Number Of Speaker
2                Bluetooth    Number Of Speaker                NaN
3                Bluetooth                  NaN                NaN

# Structuring new_car_specs column in df_bangalore

In [426]:
new_car_specs = normalize(df_bangalore,"new_car_specs")
new_car_specs

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Mileage', 'value': '23.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '17 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '23.84 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '19.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '23.65 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
...,...,...,...,...
1476,Specifications,"[{'key': 'Mileage', 'value': '12.55 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1477,Specifications,"[{'key': 'Mileage', 'value': '15 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
1478,Specifications,"[{'key': 'Mileage', 'value': '19.4 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1479,Specifications,"[{'key': 'Mileage', 'value': '22.54 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1480,Specifications,"[{'key': 'Mileage', 'value': '18.9 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",

In [427]:
def process_car_specs(car_feature_df):
    # Drop the specified column
    car_feature_df.drop(columns=["commonIcon"], inplace=True, axis=1)

    # Function to extract key-value pairs from a list of dictionaries
    def extract_key_value_dicts2(details2):
        if isinstance(details2, list):
            return {df['key']: df['value'] for df in details2}
        else:
            return {}

    # Apply the extraction function to the 'top' column
    new_car_feature_top = car_feature_df["top"].apply(extract_key_value_dicts2)

    # Normalize the results into a new DataFrame
    normalized_df = pd.json_normalize(new_car_feature_top)

    return normalized_df

In [428]:
# apply function to all values in top column
new_car_specs_top_blr = process_car_specs(new_car_specs)
new_car_specs_top_blr

         Mileage   Engine  Max Power    Torque Seats Wheel Size
0      23.1 kmpl   998 CC   67.04bhp      90Nm     5        NaN
1        17 kmpl  1497 CC  121.31bhp     150Nm     5         16
2     23.84 kmpl  1199 CC      84bhp     114Nm     5         14
3      19.1 kmpl  1197 CC   81.86bhp  113.75Nm     5         14
4     23.65 kmpl  1248 CC    88.5bhp     200Nm     5         16
...          ...      ...        ...       ...   ...        ...
1476  12.55 kmpl  2982 CC   168.5bhp     343Nm     7         17
1477     15 kmpl  1586 CC     104.68       145     5         16
1478   19.4 kmpl  1198 CC    86.8bhp     109Nm     5        NaN
1479  22.54 kmpl  1396 CC   88.73bhp   219.7Nm     5         16
1480   18.9 kmpl  1197 CC      82bhp     114Nm     5         14

[1481 rows x 6 columns]

In [429]:
# flatten the nested dict to dataframe
new_car_specs_data=pd.json_normalize(new_car_specs["data"])
# function to get key and value in seperate dict
def extract_key_value_dicts2(details2):
    if isinstance(details2, list):
        return {df['key']: df['value'] for df in details2}
    else:
        return {}
def process_car_specs_data_by_index(new_car_specs_data, index, extract_func):
    
    # Flatten the nested dictionary for the specified index
    specs_data = pd.json_normalize(new_car_specs_data[index])

    # Apply the extraction function to the 'list' column if it exists
    if 'list' in specs_data.columns:
        extracted_data = specs_data["list"].apply(extract_func)
        normalized_df = pd.json_normalize(extracted_data)
        return normalized_df
    else:
        return pd.DataFrame()  # Return an empty DataFrame if 'list' is not present


new_car_specs_list_1_blr = process_car_feature_data_by_index(new_car_specs_data, 0, extract_key_value_dicts2)
new_car_specs_list_2_blr = process_car_feature_data_by_index(new_car_specs_data, 1, extract_key_value_dicts2)
new_car_specs_list_3_blr = process_car_feature_data_by_index(new_car_specs_data, 2, extract_key_value_dicts2)

In [430]:
print(new_car_specs_list_1_blr)
print(new_car_specs_list_2_blr)
print(new_car_specs_list_3_blr)

       Color               Engine Type Displacement              Max Power  \
0      White               K10B Engine          998       67.04bhp@6000rpm
1      White      Ti-VCT Petrol Engine         1497      121.31bhp@6500rpm
2        Red           Revotron Engine         1199          84bhp@6000rpm
3     Others  Kappa VTVT Petrol Engine         1197       81.86bhp@6000rpm
4       Gray    DDiS 200 Diesel Engine         1248        88.5bhp@4000rpm
...      ...                       ...          ...                    ...
1476    Blue        D-4D Diesel Engine         2982       168.5bhp@3600rpm
1477     Red            In-Line Engine         1586  104.68@5,600 (PS@rpm)
1478   White             i-VTEC Engine         1198        86.8bhp@6000rpm
1479     Red     U2 CRDI Diesel Engine         1396       88.73bhp@4000rpm
1480   White  Kappa VTVT Petrol Engine         1197          82bhp@6000rpm

                Max Torque  No of Cylinder  Values per Cylinder  \
0             90Nm@3500rpm             3.0                  4.0
1            150Nm@4500rpm             3.0                  4.0
2            114Nm@3500rpm             3.0                  4.0
3         113.75Nm@4000rpm             4.0                  4.0
4            200Nm@1750rpm             4.0                  4.0
...                    ...             ...                  ...
1476    343Nm@1400-3400rpm             4.0                  4.0
1477   145@4,100 (kgm@rpm)             4.0                  4.0
1478         109Nm@4500rpm             4.0                  4.0
1479  219.7Nm@1500-2750rpm             4.0                  4.0
1480         114Nm@4000rpm             4.0                  4.0

     Value Configuration Fuel Suppy System  BoreX Stroke Compression Ratio  \
0                   DOHC              MPFi    73 X 82 mm            11.0:1
1                   DOHC  Direct Injection  79 X 76.5 mm            11.0:1
2                   DOHC              MPFi  77 X 85.8 mm            10.8:1
3                   DOHC  Direct Injection           NaN               NaN
4                   DOHC               NaN  69.6 x 82 mm               NaN
...                  ...               ...           ...               ...
1476                DOHC              CRDi           NaN               NaN
1477                DOHC              MPFI    78 x 83 mm              9:01
1478                SOHC          PGM - Fi           NaN               NaN
1479                DOHC              CRDI           NaN               NaN
1480                DOHC              MPFI           NaN               NaN

     Turbo Charger Super Charger Seating Capacity Steering Type Tyre Type  \
0               No            No              NaN           NaN       NaN
1               No            No              NaN           NaN       NaN
2               No            No              NaN           NaN       NaN
3               No            No              NaN           NaN       NaN
4              Yes            No              NaN           NaN       NaN
...            ...           ...              ...           ...       ...
1476           Yes            No              NaN           NaN       NaN
1477            No            No              NaN           NaN       NaN
1478            No            No              NaN           NaN       NaN
1479           Yes            No              NaN           NaN       NaN
1480            No            No              NaN           NaN       NaN

     Alloy Wheel Size No Door Numbers
0                 NaN             NaN
1                 NaN             NaN
2                 NaN             NaN
3                 NaN             NaN
4                 NaN             NaN
...               ...             ...
1476              NaN             NaN
1477              NaN             NaN
1478              NaN             NaN
1479              NaN             NaN
1480              NaN             NaN

[1481 rows x 18 columns]
      Length   Width  Height Wheel Base Front Tread Rear Tread Kerb Weight  \
0     3715mm  1635mm  1565mm     2425mm      1420mm     1410mm       835kg
1     3998mm  1765mm  1647mm     2519mm         NaN        NaN      1242Kg
2     3746mm  1647mm  1535mm     2400mm      1400mm     1420mm      1012kg
3     3995mm  1660mm  1520mm     2425mm      1479mm     1493mm        1180
4     4300mm  1785mm  1595mm     2600mm         NaN        NaN      1230Kg
...      ...     ...     ...        ...         ...        ...         ...
1476  4705mm  1840mm  1850mm     2750mm      1540mm     1540mm      1970kg
1477  4490mm  1735mm  1570mm     2500mm      1500mm     1495mm      1200kg
1478  3610mm  1680mm  1500mm     2345mm      1480mm     1465mm       925kg
1479  3985mm  1734mm  1505mm     2570mm      1505mm     1503mm      1515kg
1480  3765mm  1660mm  1520mm     2425mm      1479mm     1493mm       935kg

     Gross Weight Ground Clearance Unladen Seating Capacity Steering Type  \
0          1250kg                      NaN              NaN           NaN
1          1660Kg                      NaN              NaN           NaN
2             NaN                      NaN              NaN           NaN
3             NaN                      NaN              NaN           NaN
4          1670kg                      NaN              NaN           NaN
...           ...                      ...              ...           ...
1476       2510kg                      NaN              NaN           NaN
1477          NaN                      NaN              NaN           NaN
1478          NaN                      NaN              NaN           NaN
1479          NaN                      NaN              NaN           NaN
1480          NaN                      NaN              NaN           NaN

     Tyre Type Alloy Wheel Size No Door Numbers
0          NaN              NaN             NaN
1          NaN              NaN             NaN
2          NaN              NaN             NaN
3          NaN              NaN             NaN
4          NaN              NaN             NaN
...        ...              ...             ...
1476       NaN              NaN             NaN
1477       NaN              NaN             NaN
1478       NaN              NaN             NaN
1479       NaN              NaN             NaN
1480       NaN              NaN             NaN

[1481 rows x 14 columns]
      Gear Box Drive Type Seating Capacity Steering Type Turning Radius  \
0     5 Speed         FWD                5         Power     4.7 metres
1      5 Speed        FWD                5         Power     5.3 metres
2      5 Speed        FWD                5         Power     4.9 meters
3     5 Speed        FWD                 5         Power     4.7 metres
4      5 Speed        FWD                5         Power     5.2 meters
...        ...        ...              ...           ...            ...
1476   5 Speed        4WD                7         Power     5.9 metres
1477   5 Speed        NaN                5         Power          5.3 m
1478   5 Speed        FWD                5         Power     4.5 metres
1479   6 Speed        FWD                5         Power     5.2 metres
1480   4 Speed        FWD                5         Power     4.8 metres

     Front Brake Type Rear Brake Type Top Speed   Acceleration  \
0     Ventilated Disc            Drum  150 Kmph  15.05 Seconds
1     Ventilated Disc            Drum       NaN            NaN
2                Disc            Drum  150 kmph   14.3 Seconds
3               Disc             Drum  172km/hr   14.2 Seconds
4     Ventilated Disc      Solid Disc  190 Kmph     12 Seconds
...               ...             ...       ...            ...
1476  Ventilated Disc            Drum  176 Kmph    9.6 Seconds
1477  Ventilated Disc            Drum  177 kmph   12.1 seconds
1478             Disc            Drum  164 Kmph   14.5 Seconds
1479             Disc            Drum  180 Kmph   11.9 Seconds
1480             Disc            Drum  165 Kmph   12.9 Seconds

             Tyre Type No Door Numbers Cargo Volumn Alloy Wheel Size
0     Tubeless, Radial               5   235-litres              NaN
1      Tubeless,Radial               4   352-litres               16
2             Tubeless               5   242-litres               14
3      Tubeless,Radial               4   407-litres               14
4      Tubeless,Radial               5   353-litres               16
...                ...             ...          ...              ...
1476   Tubeless,Radial               5   296-litres               17
1477  Tubeless, Radial               4   505 litres               16
1478   Tubeless,Radial               5   175-litres              NaN
1479          Tubeless               5   295-litres               16
1480          Tubeless               5   256-liters               14

[1481 rows x 13 columns]

In [431]:
# concat bangalore car details
df_bangalore_cars=pd.concat([new_car_detail_blr,new_car_overview_blr,new_car_specs_top_blr,new_car_specs_list_1_blr,new_car_specs_list_2_blr,new_car_specs_list_3_blr],axis=1)
#add city column to dataframe
df_bangalore_cars['City'] = 'Bangalore'
#final dataframe
df_bangalore_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Alloy Wheel Size,City
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN,Bangalore
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16,Bangalore
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,4.9 meters,Disc,Drum,150 kmph,14.3 Seconds,Tubeless,5,242-litres,14,Bangalore
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,4.7 metres,Disc,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4,407-litres,14,Bangalore
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,5.2 meters,Ventilated Disc,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5,353-litres,16,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,0,Diesel,SUV,"1,56,039",Manual,2,2nd Owner,Toyota,Toyota Fortuner,2012,...,5.9 metres,Ventilated Disc,Drum,176 Kmph,9.6 Seconds,"Tubeless,Radial",5,296-litres,17,Bangalore
1477,0,Petrol,Sedan,"56,000",Manual,2,2nd Owner,Maruti,Maruti SX4,2008,...,5.3 m,Ventilated Disc,Drum,177 kmph,12.1 seconds,"Tubeless, Radial",4,505 litres,16,Bangalore
1478,0,Petrol,Hatchback,"42,000",Manual,2,2nd Owner,Honda,Honda Brio,2014,...,4.5 metres,Disc,Drum,164 Kmph,14.5 Seconds,"Tubeless,Radial",5,175-litres,NaN,Bangalore
1479,0,Diesel,Hatchback,"93,003",Manual,1,1st Owner,Hyundai,Hyundai i20,2018,...,5.2 metres,Disc,Drum,180 Kmph,11.9 Seconds,Tubeless,5,295-litres,16,Bangalore
1480,0,Petrol,Hatchback,"36,000",Automatic,2,2nd Owner,Hyundai,Hyundai Grand i10,2017,...,4.8 metres,Disc,Drum,165 Kmph,12.9 Seconds,Tubeless,5,256-liters,14,Bangalore

# Chennai_cars

In [433]:
file_path = "E:/UDHAYA/Cardeko_project/Uncleaned_datasets/chennai_cars.xlsx"  # file path
df_chennai = pd.read_excel(file_path)
# top 5 values in the dataframe
df_chennai.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Low...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [434]:
# size of dataframe
df_chennai.shape

(1419, 5)

In [435]:
import pandas as pd
import ast
from pandas import json_normalize

# Function to normalize a column with JSON-like string data
def normalize(df, column_name):
    df[f"{column_name}_dict"] = df[column_name].apply(ast.literal_eval)
    return json_normalize(df[f"{column_name}_dict"])

# Function to process car overview column
def process_car_overview(car_overview_df):
    car_overview_df.drop(columns=["bottomData"], inplace=True, axis=1)

    def extract_key_value_dicts(details):
        if isinstance(details, list):
            return {df['key']: df['value'] for df in details}
        return {}

    new_car_overview = car_overview_df['top'].apply(extract_key_value_dicts)
    return pd.json_normalize(new_car_overview)

# Function to process car features column
def process_car_features(car_feature_df):
    car_feature_df.drop(columns=["commonIcon"], inplace=True, axis=1)

    def extract_key_value_dicts1(details_1):
        if isinstance(details_1, list):
            return {i: df['value'] for i, df in enumerate(details_1) if 'value' in df}
        return {}

    new_car_feature_top = car_feature_df["top"].apply(extract_key_value_dicts1)
    return pd.json_normalize(new_car_feature_top)

# Function to process feature data by index
def process_car_feature_data_by_index(new_car_feature_data, index, extract_func):
    feature_data = pd.json_normalize(new_car_feature_data[index])
    if 'list' in feature_data.columns:
        extracted_data = feature_data["list"].apply(extract_func)
        return pd.json_normalize(extracted_data)
    return pd.DataFrame()

# Function to process car specs column
def process_car_specs(car_specs_df):
    car_specs_df.drop(columns=["commonIcon"], inplace=True, axis=1)

    def extract_key_value_dicts2(details2):
        if isinstance(details2, list):
            return {df['key']: df['value'] for df in details2}
        return {}

    new_car_specs_top = car_specs_df["top"].apply(extract_key_value_dicts2)
    return pd.json_normalize(new_car_specs_top)

# Function to process specs data by index
def process_car_specs_data_by_index(new_car_specs_data, index, extract_func):
    specs_data = pd.json_normalize(new_car_specs_data[index])
    if 'list' in specs_data.columns:
        extracted_data = specs_data["list"].apply(extract_func)
        return pd.json_normalize(extracted_data)
    return pd.DataFrame()

# Main function to process car data for a specific city
def process_city_data(file_path, city_name):
    df_city = pd.read_excel(file_path)
    df_city.drop(columns=["car_links"], inplace=True, axis=1)

    # Process each column
    new_car_detail = normalize(df_city, "new_car_detail")
    new_car_overview = process_car_overview(normalize(df_city, "new_car_overview"))

    new_car_feature = normalize(df_city, "new_car_feature")
    new_car_feature_top = process_car_features(new_car_feature)
    new_car_feature_data = pd.json_normalize(new_car_feature["data"])

    # Extract feature data by index
    feature_list_1 = process_car_feature_data_by_index(new_car_feature_data, 0, extract_key_value_dicts1)
    feature_list_2 = process_car_feature_data_by_index(new_car_feature_data, 1, extract_key_value_dicts1)
    feature_list_3 = process_car_feature_data_by_index(new_car_feature_data, 2, extract_key_value_dicts1)
    feature_list_4 = process_car_feature_data_by_index(new_car_feature_data, 3, extract_key_value_dicts1)
    feature_list_5 = process_car_feature_data_by_index(new_car_feature_data, 4, extract_key_value_dicts1)
    
    # Process specs column and data
    new_car_specs = normalize(df_city, "new_car_specs")
    new_car_specs_top = process_car_specs(new_car_specs)
    new_car_specs_data = pd.json_normalize(new_car_specs["data"])

    specs_list_1 = process_car_specs_data_by_index(new_car_specs_data, 0, extract_key_value_dicts2)
    specs_list_2 = process_car_specs_data_by_index(new_car_specs_data, 1, extract_key_value_dicts2)
    specs_list_3 = process_car_specs_data_by_index(new_car_specs_data, 2, extract_key_value_dicts2)

    # Combine data into final DataFrame
    df_city_cars = pd.concat([
        new_car_detail, new_car_overview, new_car_specs_top,
        specs_list_1, specs_list_2, specs_list_3
    ], axis=1)
    df_city_cars['City'] = city_name

    return df_city_cars

# Process data for chennai_cars
df_chennai_cars = process_city_data("E:/UDHAYA/Cardeko_project/Uncleaned_datasets/chennai_cars.xlsx", "Chennai")
df_chennai_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Turning Radius,Top Speed,Acceleration,City
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,...,Disc,Drum,"Tubeless, Radial",16,5,392,NaN,NaN,NaN,Chennai
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,...,Ventilated Disc,Drum,Tubeless Tyres,NaN,5,540-liters,4.5 metres,145 Kmph,15.7 Seconds,Chennai
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,...,Disc,Drum,"Tubeless,Radial",16,5,336,5.0,NaN,11.7,Chennai
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,...,Ventilated Disc,Drum,Tubeless,NaN,5,225-litres,4.7 metres,165 Kmph,14.3 Seconds,Chennai
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,...,Disc,Drum,"Tubeless,Radial",15,5,354-litres,5.1 meters,172 Kmph,13.7 Seconds,Chennai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,0,Petrol,Hatchback,"42,891",Automatic,1,1st Owner,Maruti,Maruti Swift,2018,...,Disc,Drum,Tubeless,NaN,5,268-litres,4.8 Meters,NaN,NaN,Chennai
1415,0,Diesel,SUV,"59,100",Manual,1,1st Owner,Renault,Renault Duster,2018,...,Disc,Drum,"Tubeless,Radial",16,5,475-litres,5.2 metres,156 Kmph,13.9 Seconds,Chennai
1416,0,Petrol,SUV,"55,913",Automatic,1,1st Owner,Tata,Tata Nexon,2018,...,Disc,Drum,Tubeless Radial Tyres,16,5,350,5.1m,154.19 kmph,NaN,Chennai
1417,0,Diesel,SUV,"65,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Tiguan,2017,...,Disc,Disc,Tubeless Radial Tyres,18,5,615,5.75meters,NaN,NaN,Chennai
1418,0,Diesel,Sedan,"60,000",Automatic,1,1st Owner,BMW,BMW 3 Series GT,2019,...,Disc,Disc,Run-Flat,18,4,520,5.5 metres,226 Kmph,7.7 Seconds,Chennai

# Delhi_cars

In [437]:
import pandas as pd
import ast
from pandas import json_normalize

# Function to normalize a column with JSON-like string data
def normalize(df, column_name):
    df[f"{column_name}_dict"] = df[column_name].apply(ast.literal_eval)
    return json_normalize(df[f"{column_name}_dict"])

# Function to process car overview column
def process_car_overview(car_overview_df):
    car_overview_df.drop(columns=["bottomData"], inplace=True, axis=1)

    def extract_key_value_dicts(details):
        if isinstance(details, list):
            return {df['key']: df['value'] for df in details}
        return {}

    new_car_overview = car_overview_df['top'].apply(extract_key_value_dicts)
    return pd.json_normalize(new_car_overview)

# Function to process car features column
def process_car_features(car_feature_df):
    car_feature_df.drop(columns=["commonIcon"], inplace=True, axis=1)

    def extract_key_value_dicts1(details_1):
        if isinstance(details_1, list):
            return {i: df['value'] for i, df in enumerate(details_1) if 'value' in df}
        return {}

    new_car_feature_top = car_feature_df["top"].apply(extract_key_value_dicts1)
    return pd.json_normalize(new_car_feature_top)

# Function to process feature data by index
def process_car_feature_data_by_index(new_car_feature_data, index, extract_func):
    feature_data = pd.json_normalize(new_car_feature_data[index])
    if 'list' in feature_data.columns:
        extracted_data = feature_data["list"].apply(extract_func)
        return pd.json_normalize(extracted_data)
    return pd.DataFrame()

# Function to process car specs column
def process_car_specs(car_specs_df):
    car_specs_df.drop(columns=["commonIcon"], inplace=True, axis=1)

    def extract_key_value_dicts2(details2):
        if isinstance(details2, list):
            return {df['key']: df['value'] for df in details2}
        return {}

    new_car_specs_top = car_specs_df["top"].apply(extract_key_value_dicts2)
    return pd.json_normalize(new_car_specs_top)

# Function to process specs data by index
def process_car_specs_data_by_index(new_car_specs_data, index, extract_func):
    specs_data = pd.json_normalize(new_car_specs_data[index])
    if 'list' in specs_data.columns:
        extracted_data = specs_data["list"].apply(extract_func)
        return pd.json_normalize(extracted_data)
    return pd.DataFrame()

# Main function to process car data for a specific city
def process_city_data(file_path, city_name):
    df_city = pd.read_excel(file_path)
    df_city.drop(columns=["car_links"], inplace=True, axis=1)

    # Process each column
    new_car_detail = normalize(df_city, "new_car_detail")
    new_car_overview = process_car_overview(normalize(df_city, "new_car_overview"))

    new_car_feature = normalize(df_city, "new_car_feature")
    new_car_feature_top = process_car_features(new_car_feature)
    new_car_feature_data = pd.json_normalize(new_car_feature["data"])

    # Extract feature data by index
    feature_list_1 = process_car_feature_data_by_index(new_car_feature_data, 0, extract_key_value_dicts1)
    feature_list_2 = process_car_feature_data_by_index(new_car_feature_data, 1, extract_key_value_dicts1)
    feature_list_3 = process_car_feature_data_by_index(new_car_feature_data, 2, extract_key_value_dicts1)
    feature_list_4 = process_car_feature_data_by_index(new_car_feature_data, 3, extract_key_value_dicts1)
    feature_list_5 = process_car_feature_data_by_index(new_car_feature_data, 4, extract_key_value_dicts1)
    
    # Process specs column and data
    new_car_specs = normalize(df_city, "new_car_specs")
    new_car_specs_top = process_car_specs(new_car_specs)
    new_car_specs_data = pd.json_normalize(new_car_specs["data"])

    specs_list_1 = process_car_specs_data_by_index(new_car_specs_data, 0, extract_key_value_dicts2)
    specs_list_2 = process_car_specs_data_by_index(new_car_specs_data, 1, extract_key_value_dicts2)
    specs_list_3 = process_car_specs_data_by_index(new_car_specs_data, 2, extract_key_value_dicts2)

    # Combine data into final DataFrame
    df_city_cars = pd.concat([
        new_car_detail, new_car_overview, new_car_specs_top,
        specs_list_1, specs_list_2, specs_list_3
    ], axis=1)
    df_city_cars['City'] = city_name

    return df_city_cars

# Process data for chennai_cars
df_delhi_cars = process_city_data("E:/UDHAYA/Cardeko_project/Uncleaned_datasets/delhi_cars.xlsx", "Delhi")
df_delhi_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Turning Radius,Top Speed,Acceleration,City
0,0,Diesel,SUV,"10,000",Automatic,1,1st Owner,Kia,Kia Seltos,2022,...,Disc,Disc,"Tubeless, Radial",17,5,433,NaN,NaN,NaN,Delhi
1,0,Petrol,SUV,"57,437",Manual,2,2nd Owner,Hyundai,Hyundai Creta,2016,...,Disc,Drum,Tubeless,NaN,5,400-litres,5.3 metres,165 Kmph,10.5 Seconds,Delhi
2,0,Petrol,SUV,"8,000",Automatic,1,1st Owner,Mercedes-Benz,Mercedes-Benz GLC,2020,...,Disc,Disc,"Tubeless,Radial",19,5,550-litres,NaN,217 Kmph,NaN,Delhi
3,0,Petrol,Hatchback,"28,151",Manual,2,2nd Owner,Maruti,Maruti Swift,2018,...,Disc,Drum,"Radial, Tubeless",NaN,5,268,4.8,NaN,NaN,Delhi
4,0,Petrol,SUV,"60,000",Manual,1,1st Owner,Hyundai,Hyundai Creta,2017,...,Disc,Drum,Tubeless,NaN,5,400-litres,5.3 metres,165 Kmph,10.5 Seconds,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,0,Petrol,Sedan,"60,000",Automatic,1,1st Owner,Honda,Honda City,2019,...,Ventilated Disc,Drum,"Tubeless,Radial",15,4,510,5.3 metres,195 Kmph,10 Seconds,Delhi
1481,0,Petrol,SUV,"20,000",Manual,1,1st Owner,Kia,Kia Sonet,2021,...,Disc,Drum,"Tubeless, Radial",NaN,5,392,NaN,NaN,NaN,Delhi
1482,0,Petrol,Sedan,"60,000",Manual,1,1st Owner,Hyundai,Hyundai Verna,2011,...,Disc,Drum,"Tubeless,Radial",16,4,465-litre,5.2 metres,196km/hr,10.5 Seconds,Delhi
1483,0,Diesel,SUV,"38,000",Manual,1,1st Owner,Hyundai,Hyundai Creta,2019,...,Disc,Drum,Tubeless,17,5,400,5.3 metres,160.58kmph,10.83 s,Delhi
1484,0,Diesel,SUV,"7,000",Automatic,0,0th Owner,MG,MG Gloster,2023,...,Disc,Disc,"Tubeless, Radial",19,5,NaN,NaN,NaN,NaN,Delhi

# hyderabad_cars

In [439]:
import pandas as pd
import ast
from pandas import json_normalize

# Function to normalize a column with JSON-like string data
def normalize(df, column_name):
    df[f"{column_name}_dict"] = df[column_name].apply(ast.literal_eval)
    return json_normalize(df[f"{column_name}_dict"])

# Function to process car overview column
def process_car_overview(car_overview_df):
    car_overview_df.drop(columns=["bottomData"], inplace=True, axis=1)

    def extract_key_value_dicts(details):
        if isinstance(details, list):
            return {df['key']: df['value'] for df in details}
        return {}

    new_car_overview = car_overview_df['top'].apply(extract_key_value_dicts)
    return pd.json_normalize(new_car_overview)

# Function to process car features column
def process_car_features(car_feature_df):
    car_feature_df.drop(columns=["commonIcon"], inplace=True, axis=1)

    def extract_key_value_dicts1(details_1):
        if isinstance(details_1, list):
            return {i: df['value'] for i, df in enumerate(details_1) if 'value' in df}
        return {}

    new_car_feature_top = car_feature_df["top"].apply(extract_key_value_dicts1)
    return pd.json_normalize(new_car_feature_top)

# Function to process feature data by index
def process_car_feature_data_by_index(new_car_feature_data, index, extract_func):
    feature_data = pd.json_normalize(new_car_feature_data[index])
    if 'list' in feature_data.columns:
        extracted_data = feature_data["list"].apply(extract_func)
        return pd.json_normalize(extracted_data)
    return pd.DataFrame()

# Function to process car specs column
def process_car_specs(car_specs_df):
    car_specs_df.drop(columns=["commonIcon"], inplace=True, axis=1)

    def extract_key_value_dicts2(details2):
        if isinstance(details2, list):
            return {df['key']: df['value'] for df in details2}
        return {}

    new_car_specs_top = car_specs_df["top"].apply(extract_key_value_dicts2)
    return pd.json_normalize(new_car_specs_top)

# Function to process specs data by index
def process_car_specs_data_by_index(new_car_specs_data, index, extract_func):
    specs_data = pd.json_normalize(new_car_specs_data[index])
    if 'list' in specs_data.columns:
        extracted_data = specs_data["list"].apply(extract_func)
        return pd.json_normalize(extracted_data)
    return pd.DataFrame()

# Main function to process car data for a specific city
def process_city_data(file_path, city_name):
    df_city = pd.read_excel(file_path)
    df_city.drop(columns=["car_links"], inplace=True, axis=1)

    # Process each column
    new_car_detail = normalize(df_city, "new_car_detail")
    new_car_overview = process_car_overview(normalize(df_city, "new_car_overview"))

    new_car_feature = normalize(df_city, "new_car_feature")
    new_car_feature_top = process_car_features(new_car_feature)
    new_car_feature_data = pd.json_normalize(new_car_feature["data"])

    # Extract feature data by index
    feature_list_1 = process_car_feature_data_by_index(new_car_feature_data, 0, extract_key_value_dicts1)
    feature_list_2 = process_car_feature_data_by_index(new_car_feature_data, 1, extract_key_value_dicts1)
    feature_list_3 = process_car_feature_data_by_index(new_car_feature_data, 2, extract_key_value_dicts1)
    feature_list_4 = process_car_feature_data_by_index(new_car_feature_data, 3, extract_key_value_dicts1)
    feature_list_5 = process_car_feature_data_by_index(new_car_feature_data, 4, extract_key_value_dicts1)
    
    # Process specs column and data
    new_car_specs = normalize(df_city, "new_car_specs")
    new_car_specs_top = process_car_specs(new_car_specs)
    new_car_specs_data = pd.json_normalize(new_car_specs["data"])

    specs_list_1 = process_car_specs_data_by_index(new_car_specs_data, 0, extract_key_value_dicts2)
    specs_list_2 = process_car_specs_data_by_index(new_car_specs_data, 1, extract_key_value_dicts2)
    specs_list_3 = process_car_specs_data_by_index(new_car_specs_data, 2, extract_key_value_dicts2)

    # Combine data into final DataFrame
    df_city_cars = pd.concat([
        new_car_detail, new_car_overview, new_car_specs_top,
        specs_list_1, specs_list_2, specs_list_3
    ], axis=1)
    df_city_cars['City'] = city_name

    return df_city_cars

# Process data for chennai_cars
df_hyderabad_cars = process_city_data("E:/UDHAYA/Cardeko_project/Uncleaned_datasets/hyderabad_cars.xlsx", "Hyderabad")
df_hyderabad_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Turning Radius,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Top Speed,Acceleration,City
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,...,4.9,Disc,Drum,"Tubeless,Radial",R16,5,280,NaN,NaN,Hyderabad
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,...,4.6 metres,Disc,Drum,Tubeless,NaN,5,215-litres,135 Kmph,19 Seconds,Hyderabad
2,0,Petrol,SUV,"10,000",Manual,1,1st Owner,Hyundai,Hyundai Venue,2023,...,NaN,Disc,Drum,"Tubeless, Radial",NaN,5,NaN,NaN,NaN,Hyderabad
3,0,Petrol,Hatchback,"50,750",Manual,1,1st Owner,Maruti,Maruti Baleno,2017,...,4.9 meters,Disc,Drum,"Tubeless,Radial",16,5,339-litres,180 Kmph,12.36 seconds,Hyderabad
4,0,Petrol,SUV,"10,000",Automatic,1,1st Owner,Mahindra,Mahindra Thar,2022,...,NaN,Disc,Drum,"Radial, Tubeless",18,3,NaN,NaN,NaN,Hyderabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Mahindra,Mahindra XUV500,2013,...,5.6 metres,Disc & Caliper Type,Disc & Caliper Type,"Tubeless,Radial",17,5,NaN,175 kmph,12.5 Seconds,Hyderabad
1479,0,Diesel,Sedan,"50,000",Automatic,1,1st Owner,Jaguar,Jaguar XF,2014,...,5.75 metres,Disc,Disc,"Tubeless,Radial",20,4,540-litres,250 Kmph,6.4 Seconds,Hyderabad
1480,0,Diesel,Sedan,"1,20,000",Automatic,3,3rd Owner,BMW,BMW 5 Series,2018,...,5.6,Ventilated Disc,Ventilated Disc,"Tubeless, Runflat",R18,4,520-litres,235kmph,7.5,Hyderabad
1481,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Tata,Tata Nexon,2019,...,5.1m,Disc,Drum,Tubeless Radial Tyres,NaN,5,350,154.19 kmph,13.25 Seconds,Hyderabad
1482,0,Diesel,MUV,"1,00,000",Manual,1,1st Owner,Toyota,Toyota Innova,2015,...,5.4 metres,Ventilated Disc,Drum,"Tubeless,Radial",15,5,300-litres,155 Kmph,13.3 Seconds,Hyderabad

# Jaipur_cars

In [441]:
import pandas as pd
import ast
from pandas import json_normalize

# Function to normalize a column with JSON-like string data
def normalize(df, column_name):
    df[f"{column_name}_dict"] = df[column_name].apply(ast.literal_eval)
    return json_normalize(df[f"{column_name}_dict"])

# Function to process car overview column
def process_car_overview(car_overview_df):
    car_overview_df.drop(columns=["bottomData"], inplace=True, axis=1)

    def extract_key_value_dicts(details):
        if isinstance(details, list):
            return {df['key']: df['value'] for df in details}
        return {}

    new_car_overview = car_overview_df['top'].apply(extract_key_value_dicts)
    return pd.json_normalize(new_car_overview)

# Function to process car features column
def process_car_features(car_feature_df):
    car_feature_df.drop(columns=["commonIcon"], inplace=True, axis=1)

    def extract_key_value_dicts1(details_1):
        if isinstance(details_1, list):
            return {i: df['value'] for i, df in enumerate(details_1) if 'value' in df}
        return {}

    new_car_feature_top = car_feature_df["top"].apply(extract_key_value_dicts1)
    return pd.json_normalize(new_car_feature_top)

# Function to process feature data by index
def process_car_feature_data_by_index(new_car_feature_data, index, extract_func):
    feature_data = pd.json_normalize(new_car_feature_data[index])
    if 'list' in feature_data.columns:
        extracted_data = feature_data["list"].apply(extract_func)
        return pd.json_normalize(extracted_data)
    return pd.DataFrame()

# Function to process car specs column
def process_car_specs(car_specs_df):
    car_specs_df.drop(columns=["commonIcon"], inplace=True, axis=1)

    def extract_key_value_dicts2(details2):
        if isinstance(details2, list):
            return {df['key']: df['value'] for df in details2}
        return {}

    new_car_specs_top = car_specs_df["top"].apply(extract_key_value_dicts2)
    return pd.json_normalize(new_car_specs_top)

# Function to process specs data by index
def process_car_specs_data_by_index(new_car_specs_data, index, extract_func):
    specs_data = pd.json_normalize(new_car_specs_data[index])
    if 'list' in specs_data.columns:
        extracted_data = specs_data["list"].apply(extract_func)
        return pd.json_normalize(extracted_data)
    return pd.DataFrame()

# Main function to process car data for a specific city
def process_city_data(file_path, city_name):
    df_city = pd.read_excel(file_path)
    df_city.drop(columns=["car_links"], inplace=True, axis=1)

    # Process each column
    new_car_detail = normalize(df_city, "new_car_detail")
    new_car_overview = process_car_overview(normalize(df_city, "new_car_overview"))

    new_car_feature = normalize(df_city, "new_car_feature")
    new_car_feature_top = process_car_features(new_car_feature)
    new_car_feature_data = pd.json_normalize(new_car_feature["data"])

    # Extract feature data by index
    feature_list_1 = process_car_feature_data_by_index(new_car_feature_data, 0, extract_key_value_dicts1)
    feature_list_2 = process_car_feature_data_by_index(new_car_feature_data, 1, extract_key_value_dicts1)
    feature_list_3 = process_car_feature_data_by_index(new_car_feature_data, 2, extract_key_value_dicts1)
    feature_list_4 = process_car_feature_data_by_index(new_car_feature_data, 3, extract_key_value_dicts1)
    feature_list_5 = process_car_feature_data_by_index(new_car_feature_data, 4, extract_key_value_dicts1)
    
    # Process specs column and data
    new_car_specs = normalize(df_city, "new_car_specs")
    new_car_specs_top = process_car_specs(new_car_specs)
    new_car_specs_data = pd.json_normalize(new_car_specs["data"])

    specs_list_1 = process_car_specs_data_by_index(new_car_specs_data, 0, extract_key_value_dicts2)
    specs_list_2 = process_car_specs_data_by_index(new_car_specs_data, 1, extract_key_value_dicts2)
    specs_list_3 = process_car_specs_data_by_index(new_car_specs_data, 2, extract_key_value_dicts2)

    # Combine data into final DataFrame
    df_city_cars = pd.concat([
        new_car_detail, new_car_overview, new_car_specs_top,
        specs_list_1, specs_list_2, specs_list_3
    ], axis=1)
    df_city_cars['City'] = city_name

    return df_city_cars

# Process data for chennai_cars
df_jaipur_cars = process_city_data("E:/UDHAYA/Cardeko_project/Uncleaned_datasets/jaipur_cars.xlsx", "Jaipur")
df_jaipur_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,City
0,0,Diesel,Hatchback,"1,20,000",Manual,2,2nd Owner,Hyundai,Hyundai i20,2015,...,5.2 metres,Disc,Drum,180 Kmph,11.9 Seconds,Tubeless,16,5,295-litres,Jaipur
1,0,Petrol,Hatchback,"66,951",Manual,1,1st Owner,Maruti,Maruti Swift,2012,...,4.8,Disc,Drum,NaN,NaN,"Radial, Tubeless",NaN,5,268,Jaipur
2,0,Petrol,Hatchback,"80,000",Automatic,2,2nd Owner,Maruti,Maruti Celerio,2016,...,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",NaN,5,235-litres,Jaipur
3,0,Petrol,Hatchback,"44,392",Manual,1,1st Owner,Hyundai,Hyundai Grand i10,2017,...,4.8 metres,Disc,Drum,165 Kmph,12.9 Seconds,Tubeless,NaN,5,256,Jaipur
4,0,Petrol,Hatchback,"40,000",Automatic,1,1st Owner,Maruti,Maruti Wagon R,2016,...,4.6 metres,Ventilated Disc,Drum,152 kmph,18.6 Seconds,Tubeless Tyres,NaN,5,180-liters,Jaipur
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Chevrolet,Chevrolet Beat,2011,...,4.85metres,Disc,Drum,NaN,NaN,"Tubeless,Radial",14,5,170-litres,Jaipur
1116,0,Petrol,Hatchback,"70,000",Manual,1,1st Owner,Maruti,Maruti Alto,2007,...,4.6m,Disc,Drum,137km/hr,17.7 seconds,"Tubeless,Radial",12,5,NaN,Jaipur
1117,0,Petrol,SUV,"20,000",Manual,1,1st Owner,Renault,Renault Kiger,2022,...,NaN,Disc,Drum,NaN,NaN,"Tubeless, Radial",16,5,405,Jaipur
1118,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Alto,2009,...,4.6m,Disc,Drum,137km/hr,17.7 seconds,"Tubeless,Radial",12,5,NaN,Jaipur
1119,0,Petrol,Hatchback,"80,000",Manual,1,1st Owner,Maruti,Maruti Baleno,2018,...,4.9 meters,Disc,Drum,180 Kmph,12.36 seconds,"Tubeless,Radial",NaN,5,339-litres,Jaipur

# Kolkata_cars

In [443]:
import pandas as pd
import ast
from pandas import json_normalize

# Function to normalize a column with JSON-like string data
def normalize(df, column_name):
    df[f"{column_name}_dict"] = df[column_name].apply(ast.literal_eval)
    return json_normalize(df[f"{column_name}_dict"])

# Function to process car overview column
def process_car_overview(car_overview_df):
    car_overview_df.drop(columns=["bottomData"], inplace=True, axis=1)

    def extract_key_value_dicts(details):
        if isinstance(details, list):
            return {df['key']: df['value'] for df in details}
        return {}

    new_car_overview = car_overview_df['top'].apply(extract_key_value_dicts)
    return pd.json_normalize(new_car_overview)

# Function to process car features column
def process_car_features(car_feature_df):
    car_feature_df.drop(columns=["commonIcon"], inplace=True, axis=1)

    def extract_key_value_dicts1(details_1):
        if isinstance(details_1, list):
            return {i: df['value'] for i, df in enumerate(details_1) if 'value' in df}
        return {}

    new_car_feature_top = car_feature_df["top"].apply(extract_key_value_dicts1)
    return pd.json_normalize(new_car_feature_top)

# Function to process feature data by index
def process_car_feature_data_by_index(new_car_feature_data, index, extract_func):
    feature_data = pd.json_normalize(new_car_feature_data[index])
    if 'list' in feature_data.columns:
        extracted_data = feature_data["list"].apply(extract_func)
        return pd.json_normalize(extracted_data)
    return pd.DataFrame()

# Function to process car specs column
def process_car_specs(car_specs_df):
    car_specs_df.drop(columns=["commonIcon"], inplace=True, axis=1)

    def extract_key_value_dicts2(details2):
        if isinstance(details2, list):
            return {df['key']: df['value'] for df in details2}
        return {}

    new_car_specs_top = car_specs_df["top"].apply(extract_key_value_dicts2)
    return pd.json_normalize(new_car_specs_top)

# Function to process specs data by index
def process_car_specs_data_by_index(new_car_specs_data, index, extract_func):
    specs_data = pd.json_normalize(new_car_specs_data[index])
    if 'list' in specs_data.columns:
        extracted_data = specs_data["list"].apply(extract_func)
        return pd.json_normalize(extracted_data)
    return pd.DataFrame()

# Main function to process car data for a specific city
def process_city_data(file_path, city_name):
    df_city = pd.read_excel(file_path)
    df_city.drop(columns=["car_links"], inplace=True, axis=1)

    # Process each column
    new_car_detail = normalize(df_city, "new_car_detail")
    new_car_overview = process_car_overview(normalize(df_city, "new_car_overview"))

    new_car_feature = normalize(df_city, "new_car_feature")
    new_car_feature_top = process_car_features(new_car_feature)
    new_car_feature_data = pd.json_normalize(new_car_feature["data"])

    # Extract feature data by index
    feature_list_1 = process_car_feature_data_by_index(new_car_feature_data, 0, extract_key_value_dicts1)
    feature_list_2 = process_car_feature_data_by_index(new_car_feature_data, 1, extract_key_value_dicts1)
    feature_list_3 = process_car_feature_data_by_index(new_car_feature_data, 2, extract_key_value_dicts1)
    feature_list_4 = process_car_feature_data_by_index(new_car_feature_data, 3, extract_key_value_dicts1)
    feature_list_5 = process_car_feature_data_by_index(new_car_feature_data, 4, extract_key_value_dicts1)
    
    # Process specs column and data
    new_car_specs = normalize(df_city, "new_car_specs")
    new_car_specs_top = process_car_specs(new_car_specs)
    new_car_specs_data = pd.json_normalize(new_car_specs["data"])

    specs_list_1 = process_car_specs_data_by_index(new_car_specs_data, 0, extract_key_value_dicts2)
    specs_list_2 = process_car_specs_data_by_index(new_car_specs_data, 1, extract_key_value_dicts2)
    specs_list_3 = process_car_specs_data_by_index(new_car_specs_data, 2, extract_key_value_dicts2)

    # Combine data into final DataFrame
    df_city_cars = pd.concat([
        new_car_detail, new_car_overview, new_car_specs_top,
        specs_list_1, specs_list_2, specs_list_3
    ], axis=1)
    df_city_cars['City'] = city_name

    return df_city_cars

# Process data for chennai_cars
df_kolkata_cars = process_city_data("E:/UDHAYA/Cardeko_project/Uncleaned_datasets/kolkata_cars.xlsx", "Kolkata")
df_kolkata_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Turning Radius,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Acceleration,Top Speed,City
0,0,Petrol,Sedan,"70,000",Automatic,3,3rd Owner,Toyota,Toyota Camry,2014,...,5.5 metres,Ventilated Disc,Solid Disc,"Tubeless,Radial",17,4,NaN,NaN,NaN,Kolkata
1,0,Petrol,Hatchback,"23,981",Manual,1,1st Owner,Datsun,Datsun RediGO,2017,...,4.7m,Disc,Drum,NaN,NaN,5,222,NaN,NaN,Kolkata
2,0,Petrol,SUV,"7,100",Automatic,1,1st Owner,Renault,Renault Kiger,2021,...,NaN,Disc,Drum,"Tubeless, Radial",NaN,5,405,NaN,NaN,Kolkata
3,0,Petrol,Hatchback,"71,574",Manual,2,2nd Owner,Hyundai,Hyundai i20,2011,...,5.20 m,Disc,Drum,"Tubeless,Radial",14,5,295 Lit,12.96 Sec,NaN,Kolkata
4,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Audi,Audi Q3,2014,...,5.9 metres,Ventilated Disc,Drum,"Tubeless,Radial",16,5,460-litres,8.2 Seconds,212 Kmph,Kolkata
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,NaN,Ventilated Disc,Drum,"Tubeless, Radial",NaN,5,313,NaN,NaN,Kolkata
1377,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,4.6 metres,Solid Disc,Drum,Tubeless Tyres,NaN,5,177-litres,19 Seconds,140 kmph,Kolkata
1378,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,5.42 metres,Ventilated Disc,Solid Disc,"Tubeless,Radial",17,4,475-litres,8.8 Seconds,230km/hr,Kolkata
1379,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,4.7 metres,Ventilated Disc,Drum,"Tubeless,Radial",14,5,236-liters,15 Seconds,156 Kmph,Kolkata
1380,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,...,5.2 metres,Disc,Drum,"Tubeless,Radial",16,5,410-litres,14.20 Seconds,168 Kmph,Kolkata

In [476]:
import pandas as pd

# List of DataFrames
all_cities_car_data = [
    df_banglore_cars,
    df_chennai_cars,
    df_delhi_cars,
    df_hyderabad_cars,
    df_jaipur_cars,
    df_kolkata_cars
]

# 1. Rename Duplicate Columns to Ensure Unique Column Names
def rename_duplicate_columns(df):
    # Create a list to hold the new column names
    new_columns = []
    column_counts = {}  # Track the occurrence count of each column name

    # Loop through original column names to make unique names if duplicates exist
    for col in df.columns:
        if col not in column_counts:
            column_counts[col] = 0  # First occurrence
            new_columns.append(col)  # Original name
        else:
            # Duplicate detected: append count to make it unique
            column_counts[col] += 1
            new_columns.append(f"{col}_{column_counts[col]}")
    
    # Assign new column names to the DataFrame
    df.columns = new_columns
    return df

# Apply the function to each DataFrame to ensure unique column names
all_cities_car_data = [rename_duplicate_columns(df) for df in all_cities_car_data]

# 2. Ensure All DataFrames Have the Same Columns
# Get the set of all unique column names across all DataFrames
all_columns = set(col for df in all_cities_car_data for col in df.columns)

# Add missing columns to each DataFrame with NaN values
for df in all_cities_car_data:
    missing_cols = all_columns - set(df.columns)
    for col in missing_cols:
        df[col] = pd.NA  # Add missing columns with NaN values

# 3. Concatenate DataFrames with Outer Join
# Reset index for each DataFrame to avoid index conflicts
all_cities_car_data = [df.reset_index(drop=True) for df in all_cities_car_data]

# Concatenate all DataFrames along rows (axis=0) with outer join
combined_df = pd.concat(all_cities_car_data, axis=0, join='outer', ignore_index=True)

# Display shape and first few rows of the combined DataFrame
print(f"Combined DataFrame shape: {combined_df.shape}")
print(combined_df.head())

Combined DataFrame shape: (8369, 88)
   it      ft         bt        km transmission  ownerNo      owner      oem  \
0   0  Petrol  Hatchback  1,20,000       Manual        3  3rd Owner   Maruti
1   0  Petrol        SUV    32,706       Manual        2  2nd Owner     Ford
2   0  Petrol  Hatchback    11,949       Manual        1  1st Owner     Tata
3   0  Petrol      Sedan    17,794       Manual        1  1st Owner  Hyundai
4   0  Diesel        SUV    60,000       Manual        1  1st Owner   Maruti

                model  modelYear  ...  Cargo Volumn Alloy Wheel Size_2  \
0      Maruti Celerio       2015  ...    235-litres                NaN
1       Ford Ecosport       2018  ...    352-litres                 16
2          Tata Tiago       2018  ...    242-litres                 14
3       Hyundai Xcent       2014  ...    407-litres                 14
4  Maruti SX4 S Cross       2015  ...    353-litres                 16

        City Gear Box_1 Top Speed_1 Turning Radius_1 Drive Type_1  \
0  Bangalore        NaN         NaN              NaN          NaN
1  Bangalore        NaN         NaN              NaN          NaN
2  Bangalore        NaN         NaN              NaN          NaN
3  Bangalore        NaN         NaN              NaN          NaN
4  Bangalore        NaN         NaN              NaN          NaN

  Rear Brake Type_1 Acceleration_1 Front Brake Type_1
0               NaN            NaN                NaN
1               NaN            NaN                NaN
2               NaN            NaN                NaN
3               NaN            NaN                NaN
4               NaN            NaN                NaN

[5 rows x 88 columns]

In [478]:
combined_df.isnull().sum()

it                       0
ft                       0
bt                       0
km                       0
transmission             0
                      ...
Turning Radius_1      6277
Drive Type_1          6215
Rear Brake Type_1     5796
Acceleration_1        6822
Front Brake Type_1    5796
Length: 88, dtype: int64

In [480]:
combined_df.columns

Index(['it', 'ft', 'bt', 'km', 'transmission', 'ownerNo', 'owner', 'oem',
       'model', 'modelYear', 'centralVariantId', 'variantName', 'price',
       'priceActual', 'priceSaving', 'priceFixedText', 'trendingText.imgUrl',
       'trendingText.heading', 'trendingText.desc', 'Registration Year',
       'Insurance Validity', 'Fuel Type', 'Seats', 'Kms Driven', 'RTO',
       'Ownership', 'Engine Displacement', 'Transmission',
       'Year of Manufacture', 'Mileage', 'Engine', 'Max Power', 'Torque',
       'Seats_1', 'Wheel Size', 'Color', 'Engine Type', 'Displacement',
       'Max Power_1', 'Max Torque', 'No of Cylinder', 'Values per Cylinder',
       'Value Configuration', 'Fuel Suppy System', 'BoreX Stroke',
       'Compression Ratio', 'Turbo Charger', 'Super Charger',
       'Seating Capacity', 'Steering Type', 'Tyre Type', 'Alloy Wheel Size',
       'No Door Numbers', 'Length', 'Width', 'Height', 'Wheel Base',
       'Front Tread', 'Rear Tread', 'Kerb Weight', 'Gross Weight',
       'Ground Clearance Unladen', 'Seating Capacity_1', 'Steering Type_1',
       'Tyre Type_1', 'Alloy Wheel Size_1', 'No Door Numbers_1', 'Gear Box',
       'Drive Type', 'Seating Capacity_2', 'Steering Type_2', 'Turning Radius',
       'Front Brake Type', 'Rear Brake Type', 'Top Speed', 'Acceleration',
       'Tyre Type_2', 'No Door Numbers_2', 'Cargo Volumn',
       'Alloy Wheel Size_2', 'City', 'Gear Box_1', 'Top Speed_1',
       'Turning Radius_1', 'Drive Type_1', 'Rear Brake Type_1',
       'Acceleration_1', 'Front Brake Type_1'],
      dtype='object')

In [484]:
# drop column from dataframe
combined_df.drop(columns=["owner","centralVariantId","priceActual","priceSaving","priceFixedText","trendingText.imgUrl",
                          "trendingText.heading","trendingText.desc","Registration Year","RTO","Ownership",
                          "Engine Displacement","Seats","Wheel Size","Engine Type","Displacement","Max Power_1",
                          "Max Torque","No of Cylinder","Values per Cylinder","Values per Cylinder","Fuel Suppy System",
                          "BoreX Stroke","Compression Ratio","Turbo Charger","Super Charger","Seating Capacity",
                          "Tyre Type","Alloy Wheel Size","Height","Width","Wheel Base","Alloy Wheel Size_1",
                          "Front Tread","Rear Tread","Kerb Weight","Gross Weight","Ground Clearance Unladen",
                          "Seating Capacity_1","Seating Capacity_1","Tyre Type_1","No Door Numbers_1",
                          "Seating Capacity_2","Steering Type_2","Turning Radius","Front Brake Type","Rear Brake Type",
                          "Top Speed","Acceleration","Tyre Type_2","No Door Numbers_2","Alloy Wheel Size_2","Acceleration_1","Top Speed_1",
                          "Rear Brake Type_1","Front Brake Type_1","Gear Box_1","Turning Radius_1","variantName","Value Configuration","Steering Type",
                          "No Door Numbers","Length","Cargo Volumn","Drive Type_1","Torque","Steering Type_1","Year of Manufacture","Max Power","Transmission",
                          "Fuel Type","km"],inplace=True,axis=1)
combined_df

,it,ft,bt,transmission,ownerNo,oem,model,modelYear,price,Insurance Validity,Kms Driven,Mileage,Engine,Seats_1,Color,Gear Box,Drive Type,City
0,0,Petrol,Hatchback,Manual,3,Maruti,Maruti Celerio,2015,₹ 4 Lakh,Third Party insurance,"1,20,000 Kms",23.1 kmpl,998 CC,5,White,5 Speed,FWD,Bangalore
1,0,Petrol,SUV,Manual,2,Ford,Ford Ecosport,2018,₹ 8.11 Lakh,Comprehensive,"32,706 Kms",17 kmpl,1497 CC,5,White,5 Speed,FWD,Bangalore
2,0,Petrol,Hatchback,Manual,1,Tata,Tata Tiago,2018,₹ 5.85 Lakh,Comprehensive,"11,949 Kms",23.84 kmpl,1199 CC,5,Red,5 Speed,FWD,Bangalore
3,0,Petrol,Sedan,Manual,1,Hyundai,Hyundai Xcent,2014,₹ 4.62 Lakh,Comprehensive,"17,794 Kms",19.1 kmpl,1197 CC,5,Others,5 Speed,FWD,Bangalore
4,0,Diesel,SUV,Manual,1,Maruti,Maruti SX4 S Cross,2015,₹ 7.90 Lakh,Third Party insurance,"60,000 Kms",23.65 kmpl,1248 CC,5,Gray,5 Speed,FWD,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,Manual,1,Maruti,Maruti Celerio,2022,₹ 5.10 Lakh,Third Party insurance,"10,000 Kms",25.24 kmpl,998 CC,5,Others,5-Speed,NaN,Kolkata
8365,0,Petrol,Hatchback,Manual,1,Maruti,Maruti Alto 800,2014,₹ 1.80 Lakh,Third Party insurance,"1,20,000 Kms",22.74 kmpl,796 CC,5,Others,5 Speed,FWD,Kolkata
8366,0,Petrol,Sedan,Automatic,3,Mercedes-Benz,Mercedes-Benz C-Class,2011,₹ 5.50 Lakh,Third Party insurance,"50,000 Kms",11.74 kmpl,1796 CC,5,Others,7 Speed,RWD,Kolkata
8367,0,Petrol,Hatchback,Manual,1,Maruti,Maruti Ritz,2012,₹ 1.40 Lakh,Third Party insurance,"40,000 Kms",18.5 kmpl,1197 CC,5,Others,5 Speed,FWD,Kolkata
8368,0,Diesel,SUV,Manual,2,Renault,Renault Duster,2017,₹ 5 Lakh,Third Party insurance,"1,20,000 Kms",19.72 kmpl,1461 CC,5,Others,6 Speed,AWD,Kolkata

In [486]:
#convert dataframe to csv
path="E:/UDHAYA/Cardeko_project/Cleaned_csv/All_cars_data.csv"
combined_df.to_csv(path,index=False)